$sage: #a1be95;
$sage-light: #d9e5d4;
$sage-dark: #505f4a;
$honeyDew: #e2dfa2;
$honeyDew-light: #e9e8d2;
$honeyDew-dark: #928e2e;
$bluebell: #92aac7;
$bluebell-light: #d3dde8;
$bluebell-dark: #334862;
$raspberry: #ed5752;
$raspberry-light:#fad0ce;
$raspberry-dark: #b61813;
$black: black;
$white: white;
$link: #009C9F;
$text: #404E67;